{% extends 'base.html' %}
{% include 'header.html' %}


{%block title %} Home {% endblock %}
<style>
    div.btn btn-success {
        left: -100px;
    }
</style>

{% block body %}

<div class="container">
    <div class="row">
        <div class="col md-12">
            <div class="jumbotron p-3">
                <h2> Manage <b> Projects </b> <button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#mymodal"> Add New Project </button>  </h2>


                <table class="table table-hover table-dark">

                    <tr>

                        <th>ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Done by</th>
                        <th>Action</th>

                    </tr>

                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <a href="" class="btn btn-warning btn-xs" data-toggle="model" data-target="#mymodel">Edit</a>
                            <a href="" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure you want to DELETE ?')">DELETE</a>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>       
</div>

{% endblock %}